<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Tdd4Java</title>
    <base href="http://simcap.github.com/tdd4java/" />

    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="screen, projection, print">
    <link rel="stylesheet" href="css/tdd4java.css" type="text/css" media="screen, projection, print">
    <!--[if lt IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
  </head>  
  
  
  	<div class="topbar" data-scrollspy="scrollspy">
      <div class="topbar-inner">
        <div class="container">
          <a class="brand" href="#">Tdd4Java</a>
          <ul class="nav">
            <li class=""><a href="#about">About</a></li>
          </ul>
        </div>
      </div>
    </div>
    
  	<body>
    <div class="container-fluid">
    
  	<div class="sidebar">
  		<ul>
  		 <li>Starting</li>
  		    <ul>
  		     <li><a href="tips.html">Tips</a> ({{ site.categories.tips | size }})</li>
  		    </ul>
  		 <li>Learning</li>
    		<ul>
  		     <li><a href="technics.html">Technics</a> ({{ site.categories.technics | size }})</li>
  		    </ul>
  		 <li>Practicing</li>
  		  <ul>
  		    <li><a href="katas.html">Katas</a> ({{ site.categories.katas | size }})</li>  		  
  		  </ul>
  		 <li>Watching</li>
  		  <ul>
  		    <li><a href="videos.html">Videos</a> ({{ site.categories.videos | size }})</li>  		  
  		  </ul>  		  
		 <li><a href="faq.html">FAQ</a></li>
  		 <li>About us</li>  		  
  		</ul>
  	</div>
  	<div class="content">
  		{{ content }}
  	</div>
	
    </div>
    
  <body>
</html>