<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Tdd4Java</title>

    <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/css/blueprint.css" type="text/css" media="print">
    <!--[if lt IE 8]><link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    
    <div class="container">
    
  	<div class="span-24">
  		<h1>Test Driven Development for Java</h1>
  	</div>

  	<div class="span-4">
  		<ul>
  		 <li>Starting</li>
  		    <ul>
  		     <li><a href="/tips.html">Tips</a> ({{ site.categories.tips | size }})</li>
  		    </ul>
  		 <li>Learning</li>
    		<ul>
  		     <li><a href="/technics.html">Technics</a> ({{ site.categories.technics | size }})</li>
  		    </ul>
  		 <li>Practicing</li>
  		  <ul>
  		    <li><a href="/katas.html">Katas</a> ({{ site.categories.katas | size }})</li>  		  
  		  </ul>
  		 <li>Watching</li>
  		  <ul>
  		    <li><a href="/videos.html">Videos</a> ({{ site.categories.videos | size }})</li>  		  
  		  </ul>  		  
		 <li><a href="/faq.html">FAQ</a></li>
  		 <li>About us</li>  		  
  		</ul>
  	</div>
  	<div class="span-19">
  		{{ content }}
  	</div>
	
  	<div class="span-24">
  		<p>Copyright &copy;</p>
  	</div>
    </div>
    
  </head>
  <body>
</html>